<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xakr.uta_ubs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clubpage"
            android:label="@string/app_name" />
        <activity android:name=".createclub" />
        <activity android:name=".postpage" />
        <activity android:name=".readpost" />
        <activity android:name=".writepost" />
        <activity android:name=".tradepage" />
        <activity android:name=".buypage" />
        <activity android:name=".sellpage" />
        <activity android:name=".wcpage" />
        <activity android:name=".registerpage" />
        <activity android:name=".joinclub" />
        <activity android:name=".emailpage" />
        <activity android:name=".securitypage" />
        <activity android:name=".selectclub"></activity>
    </application>

</manifest>